@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    font-style: normal;
}

body {
    background-color: hsl(0, 0%, 97%);
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 3.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: fixed;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#welcome-content {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-content h1 {
    display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
    margin-right: 0.15em;
}

.wave {
    animation-name: waves;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
}

#welcome-text {
    margin-top: 0.5em;
    text-align: center;
}

#welcome-text p {
    color:  hsl(0, 0%, 50%);
    font-size: 1.125em;
    font-weight: 400;
}

#icon-links {
    margin-top: 0.8em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5em;
}


#scroll {
    margin-top: auto;
    margin-bottom: 1.5em;
    opacity: 0;
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6em;
}

.caption h2 {
    font-size: 2em;
    font-weight: bold;
    color: hsl(0, 0%, 0%);
}

.caption p {
    color:  hsl(0, 0%, 50%);
    font-size: 1.125em;
    font-weight: 400;
    margin-top: 0.5em;
}











@keyframes waves {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}